#ignore everything
*

!mpmaplist.txt

!Gamemovie/
!Gamemovie/rpr-anni.bik

# except
#!scripts

# Un-ignore the directory itself
!MISSIONS/
!SCRIPTS/
!SOUNDS/

# Ensure all contents within the directory are tracked
!MISSIONS/**
!SCRIPTS/**
!SOUNDS/**

